@using ShopManagement.Domain.Entities
@model List<ShopManagement.Domain.Entities.Product>
@{

    // var products = new List<ProductModel>()
    // {
    //     new ProductModel() { Id = 1, Price = 10, Qty = 5, Title = "Glass" },
    //     new ProductModel() { Id = 2, Price = 10, Qty = 5, Title = "PC" },
    //     new ProductModel() { Id = 3, Price = 10, Qty = 5, Title = "Tablet" },
    // };

}

<div class="row">
    <div class="col-6">
        <h1>مدیریت محصولات</h1>
    </div>
    <div class="col-6">
        <a class="btn btn-info" asp-controller="ProductsManagement" asp-action="Add">
            محصول جدید
        </a>
    </div>
</div>
<table class="table table-bordered table-responsive table-primary table-hover">
    <thead>
    <tr>
        <th>شناسه</th>
        <th>عنوان کالا</th>
        <th>قیمت</th>
        <th>تعداد موجودی</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <input type="hidden" value="@item.Id"/>
        <tr>
            <td>@item.Id</td>
                <td><span data-shenase="@item.Id">@item.Title</span></td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
            <td>
                <a class="btn btn-warning btn-sm"
                   asp-controller="ProductsManagement" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
            </td>
        </tr>
    }
    </tbody>
</table>